/*
	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution 2.5 License
*/
/* Basic */
*
{
	margin: 0em;
	padding: 0em;
}
h1,h2
{
}
body
{
	font-family: "trebuchet ms", sans-serif;
	color: #555555;
	font-size: 11pt;
}
a
{
	color: #669911;
}
/* Outer */
#outer
{
}
/* Header */
#header
{
	height: 95px;
	background-image: url('a2.gif');
	background-position: bottom left;
	padding-left: 40px;
	padding-top: 45px;
}
#header h1 a
{
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
}
#header h1
{
	font-size: 1.6em;
}
#header p
{
	position: relative;
	top: -0.3em;
	color: #E8EFC2;
	font-weight: normal;
	font-size: 1.1em;
}
/* Menu */
#menu
{
	background-image: url('a3.gif');
	background-repeat: repeat-x;
	background-position: bottom left;
	padding: 1em 2.5em 1em 2.5em;
}
#menu ul
{
	list-style: none;
}
#menu li
{
	display: inline;
}
#menu li a
{
	font-size: 1.1em;
	font-weight: bold;
	color: #5D5F53;
	text-decoration: none;
	margin-right: 1em;
}
#menu li a:hover
{
	color: #6B7E09;
	text-decoration: underline;

	color: #5D5F53;
	text-decoration: none;
	border-bottom: 2px solid #5D5F53;
}
/* Content */
#content
{
	padding: 3em 15px 1em 15px;
	line-height: 1.6em;
	background: url('a4.gif') repeat-x top left;
}
#content p
{
	margin-bottom: 1.5em;
}
#content h2,h3,h4,h5,h6
{
	margin-bottom: 1em;
}
#content ul
{
	margin-bottom: 1.5em;
	padding-left: 1em;
}
#content blockquote
{
	padding: 1em;
	margin-bottom: 1.5em;
	background-color: #FFFCD8;
	background-image: url('a5.gif');
	background-repeat: no-repeat;
	background-position: top left;
	border: dotted 1px #DFD999;
}
#content blockquote p
{
	margin-bottom: 0em;
}
#content table
{
	margin-bottom: 1.5em;
}
#content table th
{
	text-align: left;
	font-weight: bold;
	padding: 0.5em;
}
#content table td
{
	padding: 0.5em;
}
#content table tr.rowA
{
	background-color: #EAEFE0;
	color: inherit;
}
#content table tr.rowB
{
	background-color: #F9FFEF;
	color: inherit;
}
/* Primary Content */
#primaryContentContainer
{
	float: left;
	margin-right: -475px;
	width: 100%;
}
#primaryContent
{
	margin: 0em 470px 0em 0em;
	padding: 0em 4em 1.5em 1.5em;
}
#primaryContent h2, #primaryContent h3
{
	color: #5D5F53;
	border-bottom: dotted 1px #ECEEDF;
	padding-bottom: 0.3em;
}
#secondaryContent h3, #tertiaryContent h3
{
	height: 27px;
	font-size: 1.2em;
	font-weight: bold;
	padding-top: 5px;
	color: #5D5F53;
	border-bottom: 1px solid #eee;
}
/* Secondary Content */
#secondaryContent
{
	float: left;
	width: 215px;
	font-size: 0.9em;
}
/* Tertiary Content */
#tertiaryContent
{
	float: right;
	width: 190px;
	padding-right: 1em;
	font-size: 0.9em;
}
/* Footer */
#footer
{
	background: url('a4.gif') repeat-x top left;
	border-top: solid 1px #D0D4BB;
	padding: 2.0em 3.5em 3.0em 3.5em;
	font-size: 0.8em;
}
.clear
{
	clear: both;
}

#disclaimer {
	background: #eee;
	border: 1px solid #ccc;
	padding: 15px 20px;
	margin: 20px;
	text-align: center;
}

#disclaimer p {
	margin: 5px;
}

#disclaimer strong {
	color: #f00;
}

#footer p {
	margin-bottom: 5px;
}

#primaryContent .block {
	margin-bottom: 50px;
}

#primaryContent .block h2 {
	font-size: 1.2em;
}
#primaryContent .block.terbaru h2 {
	font-size: 1.4em;
}

#logo {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 20px;
	left: 10px;
	background: url(kambing.png) top left no-repeat;
}
#header {
	padding-left: 120px;
}

#content * a:hover {
	text-decoration: none !important;
}

#ribbon {
	position: absolute;
	top: 0px;
	right: 0px;
}

#footer a img, #footer a {
	border: 0px !important;
}
